@nWave rc file Version 1.0
[Library]
pack = work
vital = work
work = work
[FileBrowser]
nWaveOpenFsdbDirHistory = /home/m100/Jasonlee,
[Form]
version = 2010.10
[General]
version = 2010.10
SignalCaseInSensitive = FALSE
cmd_enter_form = FALSE
ShowWndCtntDuringResizing = FALSE
[Wave]
SigGroupRuleFile = 
scope_to_save_with_macro
open_file_dir
open_rc_file_dir
viewPort = 4 35 1042 697 100 65
signalSpacing = 3
digitalSignalHeight = 15
analogSignalHeight = 98
commentSignalHeight = 98
transactionSignalHeight = 98
messageSignalHeight = 98
minCompErrWidth = 4
DragZoomTolerance = 4
maxTransExpandedLayer = 10
WaveMaxPoint = 512
legendBackground = -c ID_BLACK
valueBackground = -c ID_BLACK
curveBackground = -c ID_BLACK
getSignalSignalListBackgroundColor = -c ID_GRAY5
glitchColor = -c ID_RED5
cursor = -c ID_YELLOW5 -lw 1 -ls long_dashed
marker = -c ID_WHITE -lw 1 -ls dash_dot_l
usermarker = -c ID_GRAY5 -lw 1 -ls long_dashed
trace = -c ID_GRAY5 -lw 1 -ls long_dashed
grid = -c ID_WHITE -lw 1 -ls short_dashed
rulerBackground = -c ID_GRAY3
rulerForeground = -c ID_YELLOW5
busTextColor = -c ID_ORANGE8
High_Light = -c ID_GRAY2
Input_Signal = -c ID_RED5
Output_Signal = -c ID_GREEN5
InOut_Signal = -c ID_BLUE5
Net_Signal = -c ID_YELLOW5
Register_Signal = -c ID_PURPLE5
Verilog_Signal = -c ID_CYAN5
VHDL_Signal = -c ID_ORANGE5
Dump_Off_Color = -c ID_BLUE2
Compress_Bar_Color = -c ID_YELLOW4
Vector_Dense_Block_Color = -c ID_ORANGE8
Scalar_Dense_Block_Color = -c ID_GREEN6
Composite_Dense_Block_Color = -c ID_RED5
busSignalLayer = -c ID_ORANGE8
busZLayer = -c ID_ORANGE6
busMixedLayer = -c ID_GREEN5
busNotComputedLayer = -c ID_GRAY1
busNoValueLayer = -c ID_BLUE2
signalGridLayer = -c ID_WHITE
analogGridLayer = -c ID_GRAY6
analogRulerLayer = -c ID_GRAY6
keywordLayer = -c ID_RED5
qdsCurMarkerLayer = -c ID_BLUE5
qdsBrkMarkerLayer = -c ID_GREEN5
qdsTrgMarkerLayer = -c ID_RED5
arrowDefaultColor = -c ID_ORANGE6
startNodeArrowColor = -c ID_WHITE
endNodeArrowColor = -c ID_YELLOW5
propertyEventMatchColor = -c ID_GREEN5
propertyEventNoMatchColor = -c ID_RED5
propertyVacuousSuccessMatchColor = -c ID_YELLOW2
propertyBooleanSuccessColor = -c ID_CYAN5
propertyBooleanFailureColor = -c ID_RED5
propertyAssertSuccessColor = -c ID_GREEN5
propertyAssertFailureColor = -c ID_RED5
propertyForbidSuccessColor = -c ID_GREEN5
transactionForegroundColor = -c ID_YELLOW8
transactionBackgroundColor = -c ID_BLACK
transactionHighLightColor = -c ID_CYAN6
transactionRelationshipColor = -c ID_PURPLE6
transactionErrorTypeColor = -c ID_RED5
coverageFullyCoveredColor = -c ID_GREEN5
coverageNoCoverageColor = -c ID_RED5
coveragePartialCoverageColor = -c ID_YELLOW5
coverageReferenceLineColor = -c ID_GRAY4
messageForegroundColor = -c ID_YELLOW4
messageBackgroundColor = -c ID_PURPLE1
messageHighLightColor = -c ID_CYAN6
messageInformationColor = -c ID_RED5
ComputedAnnotColor = -c ID_ORANGE5
qdsAutoBusGroup = TRUE
qdsTimeStampMode = FALSE
qdsVbfBusOrderAscending = FALSE
openDumpFilter = *.fsdb;*.vf
DumpFileFilter = *.vcd
RestoreSignalFilter = *.rc
SaveSignalFilter = *.rc
AddAliasFilter = *.alias;*.adb
CompareSignalFilter = *.err
ConvertFFFilter = *.vcd;*.out;*.tr0;*.xp;*.raw;*.wfm
Scroll_Ratio = 100
Zoom_Ratio = 10
EventSequence_SyncCursorTime = TRUE
EventSequence_Sorting = FALSE
EventSequence_RemoveGrid = FALSE
EventSequence_IsGridMode = FALSE
DefaultRadix = Hex
SigSearchSignalMatchCase = FALSE
SigSearchSignalFullScope = FALSE
SigSearchSignalWithRegExp = FALSE
SigSearchDynamically = FALSE
SigDisplayBySelectionOrder = FALSE
SigDisplayRowMajor = FALSE
SigDragSelFollowColumn = FALSE
SigDisplayHierarchyBox = TRUE
SigDisplaySubscopeBox = TRUE
SigShowSubProgram = TRUE
SigSearchScopeDynamically = TRUE
SigCollapseSubtreeNodes = FALSE
activeFileApplyToAnnotation = FALSE
GrpSelMode = TRUE
dispGridCount = FALSE
hierarchyName = FALSE
partial_level_name = FALSE
partial_level_head = 1
partial_level_tail = 1
displayMessageLabelOnly = FALSE
autoInsertDumpoffs = TRUE
displayMessageCallStack = FALSE
displayCallStackWithFullSections = TRUE
displayCallStackWithLastSection = FALSE
limitMessageMaxWidth = FALSE
messageMaxWidth = 50
displayTransBySpecificColor = FALSE
fittedTransHeight = FALSE
snap = TRUE
displayLeadingZero = FALSE
displayGlitchs = FALSE
allfileTimeRange = FALSE
fixDelta = FALSE
displayCursorMarker = FALSE
autoUpdate = FALSE
restoreFromActiveFile = TRUE
restoreToEnd = FALSE
dispCompErr = TRUE
showMsgDes = TRUE
anaAutoFit = FALSE
anaAutoPattn = FALSE
anaAuto100VertFit = FALSE
displayDeltaY = FALSE
centerCursor = FALSE
keepMarkerAtEndTimeOfTransaction = FALSE
WaveExtendLastTick = FALSE
InOutSignal = FALSE
NetRegisterSignal = FALSE
VerilogVHDLSignal = FALSE
LabelMarker = TRUE
ResolveSymbolicLink = TRUE
signal_rc_abspath = TRUE
signal_rc_no_natural_bus_range = FALSE
save_scope_with_macro = FALSE
SyncBrowserDir = TRUE
TipInSignalWin = FALSE
DisplaySignalTypeAheadOfSignalName = FALSE
TipInCurveWin = FALSE
DisplayLSBsFirst = FALSE
PaintSpecificColorPattern = FALSE
ModuleName = TRUE
form_all_memory_signal = FALSE
formBusSignalFromPartSelects = FALSE
read_value_change_on_demand_for_drawing = FALSE
TransitionMode = FALSE
DisplayRadix = FALSE
SchemaX = FALSE
Hilight = FALSE
UseBeforeValue = FALSE
DisplayFileNameAheadOfSignalName = FALSE
DisplayFileNumberAheadOfSignalName = FALSE
DisplayValueSpace = TRUE
FitAnaByBusSize = FALSE
displayTransactionAttributeName = FALSE
expandOverlappedTrans = FALSE
dispSamplePointForAttrSig = TRUE
ReloadActiveFileOnly = FALSE
PiecewiseConstant = FALSE
PointStyle = FALSE
NormalizeEVCD = FALSE
OverwriteAliasWithRC = TRUE
overlay_added_analog_signals = FALSE
case_insensitive = FALSE
vhdlVariableCalculate = TRUE
signal_vertical_scroll_bar = TRUE
showPortNameForDroppedInstance = FALSE
truncateFilePathInTitleBar = TRUE
filterPropVacuousSuccess = FALSE
resaveSignals = TRUE
adjustBusPrefix = adjustBus_
adjustBusBits = 1
adjustBusSettings = 69889
autoBackupSignals = off 5 \"/home/m100/Jasonlee/nWaveLog\" \"novas_autosave_sig\"
signal_rc_attribute = 65535
signal_rc_alias_attribute = 0
ConvertAttr1 = -inc FALSE
ConvertAttr2 = -hier FALSE
ConvertAttr3 = -ucase FALSE
ConvertAttr4 = -lcase FALSE
ConvertAttr5 = -org FALSE
ConvertAttr6 = -mem 24
ConvertAttr7 = -deli .
ConvertAttr8 = -hier_scope FALSE
ConvertAttr9 = -inst_array FALSE
ConvertAttr10 = -vhdlnaming FALSE
ConvertAttr11 = -orgScope FALSE
analogFmtPrecision = Automatic 2
confirmOverwrite = TRUE
confirmExit = TRUE
confirmGetAll = TRUE
printTimeRange = TRUE 0.000000 0.000000 0.000000
printPageRange = TRUE 1 1
printOption = 0
printBasic = 1 0 1 FALSE FALSE
printDest = -printer {}
printSignature = {%f %h %t} {}
curveWindow_Drag&Drop_Mode = TRUE
hspiceIncOpenMode = TRUE
pcSelectMode = TRUE
hierarchyDelimiter = /
open_file_time_range = FALSE
value_window_aligment = Right
signal_window_alignment = Auto
ShowDeltaTime = TRUE
legend_window_font = -f COURIER12 -c ID_CYAN5
value_window_font = -f COURIER12 -c ID_CYAN5
curve_window_font = -f COURIER12 -c ID_CYAN5
group_name_font = -f COURIER12 -c ID_GREEN5
ruler_value_font = -f COURIER12 -c ID_CYAN5
analog_ruler_value_font = -f COURIER12 -c ID_CYAN5
comment_string_font = -f COURIER12 -c ID_RED5
SigsCheckNum = on 1000
filter_out_synthesized_net = off n
filter_out_synthesized_instance = off 
showGroupTree = TRUE
hierGroupDelim = /
MsgSeverityColor = {y \"Severity\"==\"1\" ID_RED5} {y \"Severity\"==\"2\" ID_RED6} {y \"Severity\"==\"3\" ID_RED7} {y \"Severity\"==\"4\" ID_RED8} {y \"Severity\"==\"5\" ID_ORANGE5} {y \"Severity\"==\"6\" ID_ORANGE6} {y \"Severity\"==\"7\" ID_ORANGE7} {y \"Severity\"==\"8\" \
ID_GREEN7} {y \"Severity\"==\"9\" ID_GREEN6} {y \"Severity\"==\"10\" ID_GREEN5} 
AutoApplySeverityColor = FALSE
verilogStrengthDispType = type1
waveDblClkActiveTrace = on
[importDesignSession]
import_filter_verilog = *.v; *.vc; *.sv; *.slg; *.f
import_default_language = Verilog-2001
import_from = source
autoAlias = FALSE
incLoad = TRUE
[nMemory]
dispMode = ADDR_HINT
addrColWidth = 120
valueColWidth = 100
showCellBitRangeWithAddr = TRUE
wordsShownInOneRow = 8
syncCursorTime = FALSE
fixCellColumnWidth = FALSE
font = Fixed 14
